
.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
}

.sub-inicio {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.texto-inicio {
    flex: 1;
    padding: 20px;
}

.texto-inicio h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 0 0 10px;
}

.texto-inicio p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.5;
    margin: 0 0 20px;
}

.botao-inicio {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.botao-inicio:hover {
    background-color: #ffd21c;
}

.img-container {
    position: relative;
    flex: 1;
    padding: 20px;
    text-align: right;
}

.circulo {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 290px;
    height: 290px;
    background-color: #ffcc00;
    border-radius: 50%;
    z-index: 1;
}

.img-inicio {
    position: relative;
    z-index: 2;
}

.img-inicio img {
    max-width: 120%;
    height: auto;
    border-radius: 10px;
    margin-left: -80px;
}

/* Responsividade */
@media (max-width: 1250px) {
    
    .circulo {
        width: 240px;
        height: 240px;
    }
    
    .img-inicio img {
        max-width: 130%;
    }
}

@media (max-width: 950px) {
    .sub-inicio {
        flex-direction: column;
        text-align: center;
    }
    
    .img-container {
        text-align: center;
        padding: 20px 0;
    }
    
    .circulo {
        width: 250px;
        height: 250px;
    }
    
    .img-inicio img {
        max-width: 80%;
    }
}


@media (max-width: 768px) {
    .sub-inicio {
        flex-direction: column;
        text-align: center;
    }
    
    .img-container {
        text-align: center;
        padding: 20px 0;
    }
    
    .circulo {
        width: 200px;
        height: 200px;
    }
    
    .img-inicio img {
        max-width: 80%;
    }
}

@media (max-width: 550px) {
    .sub-inicio {
        flex-direction: column;
        text-align: center;
    }
    
    .img-container {
        text-align: center;
        padding: 20px 0;
    }
    
    .circulo {
        width: 190px;
        height: 190px;
        left: 50%;
    }
    
    .img-inicio img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-left: 0px;
}
}
