.footer {
    background-color: #15161d;
    padding: 3rem 0;
  }
  @media (max-width: 768px) {
    .footer {
      padding: 3rem;
    }
  }
  @media (max-width: 312px) {
    .footer {
      padding: 1rem;
    }
  }
  .footer a, .footer p {
    color: #b9babc;
  }
  .footer li, .footer p {
    margin-bottom: 1rem;
  }
  .footer li a:hover, .footer p a:hover {
    color: #007aff;
  }
  .footer i {
    margin-right: 0.3rem;
  }
  .footer h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    font-family: 'Playfair Display', serif;
  }
  @media (max-width: 312px) {
    .footer h3 {
      font-size: 1rem;
    }
  }
  .footer-top {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
  }
  @media (max-width: 768px) {
    .footer-top {
      flex-direction: column;
    }
  }
  .footer-top-about, .footer-top-categories, .footer-top-information, .footer-top-menu {
    max-width: 25%;
  }
  @media (max-width: 768px) {
    .footer-top-about, .footer-top-categories, .footer-top-information, .footer-top-menu {
      max-width: 100%;
      margin-bottom: 1rem;
    }
  }
  .footer-bottom {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-bottom-payments {
    margin-bottom: 2rem;
  }
  .footer-bottom i {
    color: #333;
    cursor: pointer;
    font-size: 3rem;
    margin: 5px;
    transition: 0.4s;
  }
  .footer-bottom i:hover {
    color: #007aff;
  }